/* =============================================
 *
 *   FIXED RESPONSIVE NAV
 *
 *   Credit: 
 *   http://viljamis.com/ ( JS Plugin)
 *   http://www.adtile.me/ (Fixed example)
*    https://fortawesome.github.io/Font-Awesome/ (Icon font)
 *
 *   Free to use under the MIT License.
 *
 * ============================================= */

 body, div,
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, dl, dt, dd, ol, hr,
 fieldset, form, label, legend, th, td,
 article, aside, figure, footer, header, hgroup, menu, nav, section,
 summary, hgroup {
   margin: 0;
   padding: 0;
   border: 0;
 }
 
 a:active,
 a:hover {
   outline: 0;
 }



 @-webkit-viewport { width: device-width; }
 @-moz-viewport { width: device-width; }
 @-ms-viewport { width: device-width; }
 @-o-viewport { width: device-width; }
 @viewport { width: device-width; }
 
 
 /* ------------------------------------------
   RESPONSIVE NAV STYLES
 --------------------------------------------- */
 
 .nav-collapse ul {
   margin: 0;
   padding: 0;
   width: 100%;
   display: block;
   list-style: none;
 }
 
 .nav-collapse li {
   width: 100%;
   display: block;
 }
 
 .js .nav-collapse {
   clip: rect(0 0 0 0);
   max-height: 0;
   position: absolute;
   display: block;
   overflow: hidden;
   zoom: 1;
 }
 
 .nav-collapse.opened {
   max-height: 9999px;
 }
 
 .disable-pointer-events {
   pointer-events: none !important;
 }
 
 .nav-toggle {
   -webkit-tap-highlight-color: #367d3f;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
 }
 
 @media screen and (min-width: 768px) {
   .js .nav-collapse {
     position: relative;
   }
   .js .nav-collapse.closed {
     max-height: none;
   }
   .nav-toggle {
     display: none;
   }
 }
 
 
 /* ------------------------------------------
   FIXED HEADER
 --------------------------------------------- */
 
 header {
   position: fixed;
   z-index: 3;
   width: 100%;
   left: 0;
   top: 0;
   background-color: #367d3f;
   padding-left: 15px;
 }
 
 .logo {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   text-decoration: none;
   font-weight: bolder;
   font-size:x-large;
   line-height: 55px;
   font-family: 'Open Sans', sans-serif;
   color: #fff;
   float: left;
   padding-right: 15px;
   
 }
 
 
 /* ------------------------------------------
   MASK
 --------------------------------------------- */
 
 .mask {
   -webkit-transition: opacity 300ms;
   -moz-transition: opacity 300ms;
   transition: opacity 300ms;
   background: rgba(0,0,0, .2);
   visibility: hidden;
   position: fixed;
   opacity: 0;
   z-index: 2;
   bottom: 0;
   right: 0;
   left: 0;
   top: 0;
 }
 
 .android .mask {
   -webkit-transition: none;
   transition: none;
 }
 
 .js-nav-active .mask {
   visibility: visible;
   opacity: 1;
 }
 
 @media screen and (min-width: 768px) {
   .mask {
     display: none !important;
     opacity: 0 !important;
   }
 }
 
 
 /* ------------------------------------------
   NAVIGATION STYLES
 --------------------------------------------- */
 
 .fixed {
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
 }
 
 .nav-collapse,
 .nav-collapse * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 .nav-collapse,
 .nav-collapse ul {
   list-style: none;
   width: 100%;
   float: left;
 }
 
 @media screen and (min-width: 768px) {
   .nav-collapse {
     float: right;
     width: auto;
   }
 }
 
 .nav-collapse li {
   float: left;
   width: 100%;
 }
 
 @media screen and (min-width: 768px) {
   .nav-collapse li {
     width: auto;
   }
 }
 
 .nav-collapse a {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   text-decoration: none;
   padding: 0.7em 1em 0.7em 0;
   color: #fff;
   width: 100%;
   float: left;
 }
 
 .nav-collapse a:active,
 .nav-collapse .active a {
   text-decoration: underline;
 }
 
 @media screen and (min-width: 768px) {
   .nav-collapse a {
     padding: 1.02em 2em;
     text-align: center;
     border-top: 0;
     float: left;
     margin: 0;
   }
   
   .nav-collapse:last-child a {
     padding-right: 0;
   }
 }
 
 .nav-collapse ul ul a {
   background: #ca3716;
   padding-left: 2em;
 }
 
 @media screen and (min-width: 768px) {
   .nav-collapse ul ul a {
     display: none;
   }
 }
 
 
 /* ------------------------------------------
   NAV TOGGLE STYLES
 --------------------------------------------- */
 
 .nav-toggle {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-decoration: none;
   text-indent: -300px;
   position: relative;
   overflow: hidden;
   width: 60px;
   height: 55px;
   float: right;
 }
 
 .nav-toggle:before {
   color: #fff; /* Edit this to change the icon color */
   font: normal 28px/55px "FontAwesome"; /* Edit font-size (28px) to change the icon size */
   text-transform: none;
   text-align: right;
   position: absolute;
   content: "\f0c9"; /* Hamburger icon */
   text-indent: 0;
   speak-as: none;
   width: 100%;
   left: 0;
   top: 0;
 }
 
 .nav-toggle.active:before {
   font-size: 24px;
   content: "\f00d"; /* Close icon */
 }
 
 /* Demo style */
 
 body {
   font-family: 'Roboto', sans-serif;
   background: #fff;
 }
 
 img {
   max-width: 100%;
   padding: 0 0 20px 0; 
 }
 
 h2 {
   padding-bottom: 20px;
 }
 

/*container here*/

.container
{
  max-width: 1000vh;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
  text-align: center;
 
   
}

.form-groups {
  margin: auto;
}
.left-div
{
  display: inline-block;
  max-width: 100%;
  text-align: left;
  padding: 1%;
  background-color: #fff;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;

}
.right-div
{
  display: inline-block;
  max-width: 100%;
  height: 100vh;
  text-align: left;
;
  background-color: #fff;
  border-radius: 3px;
  margin: 15px;
  padding: 1%;

}
.left-text, .right-text
{
  font: 14px 'Roboto', sans-serif;
	color: #333;
}
@media screen and (max-width: 600px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}
 
 
 body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
}

Button {
color:rgb(54, 125, 63);
 background-color: #fff;
 padding: auto;
 font-size: 12px;
 float: right;
 border: 0px;
 border-radius: 4px;
 margin-left: -50%;
}
